body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

button {
  padding: 15px;
  font-size: 18px;
  background: green;
  color: white;
  border: none;
  border-radius: 10px;
}

.config-section {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="text"] {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
}
